.sidepanel {
  height: 500px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  float: left;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  height: 15%;
  box-sizing: border-box;

  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .cerrar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.abrir {
  float: right;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 5%;
  border: none;
}

.abrir:hover {
  background-color: #444;
}


#zonagaleria{
  border-style: groove;

      max-width: 90%;
  height: 450px;
  margin-left: 2%;
    padding: 1%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
  display: block;
  box-sizing: border-box;
  
    transition: 0.3s;
    overflow: scroll;
}


div.galeria:hover {
  border: 1px solid #777;
}


div.galeria img {
  margin: 5px;
   border: 1px solid #ccc;
  
  height: 100px;
  display: block;
  box-sizing: border-box;
}

div.desc {
  padding: 15px;
  text-align: center;
}