.moderador{
    float: left;
    width: 20%;
    margin-left: 27%;
    background-color: rgba(95, 158, 160, 0.603);
    text-align: center;
    padding-bottom: 2%;
    border-radius: 10%;
    border-style: hidden;
    margin-top: 5%;
}

.moderador p{
    width: 100%;
   
}

.moderador input{
    margin-top: 5%;
}