.perfil{
    width: 33%;
    float: left;
    margin-left: 10%;
}
#inisesion {
   
    
    width: 60%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    background-color: rgba(179, 230, 231, 0.575);
    border-radius: 20%;
    border-style: groove;
}

#inisesion form input{
    width: 95%;
} 

#inisesion form #boton{
    width: 33%;
    margin-top: 5%;
    margin-left: 33%;
    margin-bottom: 2%;
}

#inisesion a{
    width: 33%;
    float: left;
    margin-left: 35%;
    margin-top: 8%;
   
}

#inisesion #msg{
    float: left;
}

#inisesion h2{
    text-align: center;
}

.password{
    float: left;
    width: 33%;
}

.password #inisesion #boton2{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 2%;
}