<!DOCTYPE html>
<html>
    <head >
        <meta charset="utf-8">
        <title>Practica3</title>
        {% block css %}
        <link rel="stylesheet" type="text/css" href="./css/estilo.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="./css/comentarios.css" media="screen" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}

        {% block scriptcoments %}{% endblock %}
        {% block scriptgaleria %}{% endblock %}
    </head>
    <body>
        <header class="clearfix" >
            <div id="logo"><img src="./img/logo.png" width="100" heigt="50"></div>
            <h1>CRAZY OCIO</h1>
            
            {% block login %}{% endblock %}
           <!--
            div class="topnav clearfix">
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </div>
           --> 
           {% if user.rol =="moderador" %}
            <div class="topnav clearfix">
                <a href="perfil.php">Miperfil</a>
                <a href="listaComents.php">Lista Coments</a>
                <a href="index.php">Eventos</a>
                <a href="busqueda.php">Búsqueda</a>
            </div>
            {% elseif user.rol =="registrado" %}
            <div class="topnav clearfix">
                <a href="perfil.php">Miperfil</a>
                <a href="index.php">Eventos</a>
                <a href="busqueda.php">Búsqueda</a>

            </div>
            {% elseif user.rol =="gestor" %}
            <div class="topnav clearfix">
                <a href="perfil.php">Miperfil</a>
                <a href="listaEventos.php">ListaEventos</a>
                <a href="index.php">Eventos</a>
                <a href="añadir.php">Crear Evento</a>
                <a href="busqueda.php">Búsqueda</a>

            </div>
            {% elseif user.rol =="super" %}
            <div class="topnav clearfix">
                <a href="perfil.php">Miperfil</a>
                <a href="listaUsuarios.php">Usuarios</a>
                <a href="index.php">Eventos</a>
                <a href="busqueda.php">Búsqueda</a>

               
            </div>
            {% else %}
            <div class="topnav clearfix">
                <a href="registro.php">Registrar</a>
                <a href="login.php">Iniciar Sesion</a>
                <a href="index.php">Eventos</a>
                <a href="busqueda.php">Búsqueda</a>

            </div>
            {% endif %}


        </header>
        <div class="clearfix">
            <aside>
                <div class="sidebar">
                    <a href="index.php">Home</a>
                    <a href="#"> Services</a>
                    <a href="#"> Clients</a>
                    <a href="#">Contact</a>
            </div>
    
            </aside>
            <main>
                {% block central %}{% endblock %}
                {% block comentarios %}{% endblock %}
                {% block galeria %}{% endblock %}
                {% block iniciosesion %}{% endblock %}
                {% block registro %}{% endblock %}
                {% block perfil %}{% endblock %}
                {% block moderador %}{% endblock %}
                {% block gestor %}{% endblock %}
                {% block super %}{% endblock %}
            </main>
    
        </div>
      
        <footer class="footer clearfix">
            <h3>Crazy ocio s.a</h3>
            <div class="copy">© 2020 Copyright Text</div>
            <div class="movil">Contacto: 0000000000</div>
            
        </footer>
    </body>
 
</html>